---
import Shell from './Shell.astro';
import Footer from '../components/Footer.astro';
import Button from '../components/Button.astro';

interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<Shell title={title} description={description}>
  <div class="back-bar">
    <Button variant="secondary" href="/" icon="arrow-left-circle" iconPosition="left">
      На главную
    </Button>
  </div>
  <main>
    <slot />
  </main>
  <Footer />
</Shell>

<style>
  .back-bar {
    padding-top: 52px;
    padding-bottom: 44px;
    width: fit-content;
  }
</style>
